.MovieCard {
  position: relative;
  display: grid;
  place-items: center;

  .image {
    margin: auto;

    img {
      border-radius: 2rem;
      height: 20rem;
    }
  }

  &:hover .image {
    opacity: 0.3;
  }

  &:hover .details {
    opacity: 1;
  }

  .details {
    position: absolute;
    opacity: 0;
    top: 50%;
    display: grid;
    place-items: center;
    color: #7b1fa2;
    text-transform: uppercase;

    .movie-name {
      font-size: 1.5rem;
    }

    .book-now {
      text-decoration: none;
      background-color: #c2185b;
      color: white;
      margin-top: 0.5rem;
      padding: 0.5rem;
      border-radius: 1rem;
    }

    button {
      padding: .5rem;
      border-radius: 1rem;
      outline: none;
      border: none;
      cursor: pointer;
      color: white;
      background-color: #c2185b;
      margin-top: 0.5rem;
    }
  }
}