.Seat {
  position: relative;
  cursor: pointer;
  border-radius: 1rem;

  .num {
    position: relative;
    top: 0;
    margin-top: 0.6rem;
    margin-left: 0.65rem;
  }

  &:hover {
    background-color: lightgreen;
  }
}

.red {
  background-color: rgb(231, 142, 142);
}

.green {
  background-color: rgb(165, 196, 165);
}

.blue {
  background-color: rgb(107, 107, 221);
}