.Seats {
  max-width: 90%;
  margin: auto;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
  justify-items: center;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: center;

  .btn {
    padding: 1rem 2rem;
    margin-top: 2rem;
    color: white;
    font-size: large;
    background-color: rgb(148, 148, 204);
    border: none;
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
  }
}