.LoginCard {
  max-width: 30rem;
  margin: auto;
  margin-top: 4rem;
  background-color: #00bcd4;
  border-radius: 2rem;

  div {
    text-align: center;
    padding: 2rem;
    color: white;
    font-size: 2rem;
  }

  form {
    display: grid;
    place-items: center;

    input {
      display: block;
      width: 80%;
      margin: .5rem;
      padding: 1rem;
      border-radius: 2rem;
      border: none;
      outline: none;
    }

    input[type="submit"] {
      background-color: #428e92;
      color: white;

      &:hover {
        background-color: #5c9ea1;
      }
    }

    .sign-up {
      color: white;
      text-decoration: none;
      background-color: #428e92;
      width: 73%;
      text-align: center;
      margin-bottom: 1rem;
      border-radius: 2rem;
      padding: 1rem;
    }
  }
}