.Nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  background-color: #1e88e5;
  padding: 1rem;
  border-radius: .4rem;
  color: white;

  .back {
    display: flex;

    .upload {
      margin-right: 2rem;
      text-decoration: none;
      color: white;
    }

    .login {
      cursor: pointer;
    }
  }
}